{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <link rel="home" href="{{ siteUrl }}" />

  {% block meta %}
    {% include '_partials/meta' %}
  {% endblock %}

  {% import '_macros' as helpers %}

  {% block headScripts %}
    <script src="/scripts/modernizr.js"></script>
  {% endblock %}

  {{ helpers.getStyleTag('styles/main.css') }}
</head>

<body>
  {% include '_partials/molecules/nav' %}

  {% block content %}{% endblock %}

  {% block footerScripts %}
    <script>
      document.write('{{ helpers.getScriptTag('scripts/bundle.js') }}');
    </script>
  {% endblock %}

  {# Don't include analytics snippet in live preview: #}
  {% if not craft.request.isLivePreview %}{% endif %}

  {# If we're on a .dev domain, load Browsersync: #}
  {% if craft.request.serverName|slice(-4) == '.dev' %}
    <script id="__bs_script__">
      //<![CDATA[
        document.write("<script async src='http://localhost:3000/browser-sync/browser-sync-client.js'><\/script>");
      //]]>
    </script>
  {% endif %}
</body>
</html>
