{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}
<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <link rel="home" href="{{ siteUrl }}" />

  {% import '_macros' as helpers %}

  {{ helpers.getStyleTag('styles/main.css') }}
</head>

<body>
  {% block content %}{% endblock %}

  {% block footerScripts %}
    {%- if craft.request.serverName|slice(-4) == 'local' -%}

      {%- set scriptTag = '\'<script src="' ~ siteUrl ~ "scripts/bundle.js" ~ '"><\\/script>\'' -%}
      <script>document.write({{ scriptTag | raw }});</script>

    {%- else -%}

      {{ craft.minimee.js(['/scripts/bundle.js']) }}

    {%- endif -%}
  {% endblock %}

  {# Don't include analytics snippet in live preview: #}
  {% if not craft.request.isLivePreview %}{% endif %}

  {# If we're on a .local domain, load Browsersync: #}
  {% if craft.request.serverName|slice(-4) == '.local' %}
    <script id="__bs_script__">
      //<![CDATA[
        document.write("<script async src='http://localhost:3000/browser-sync/browser-sync-client.js'><\/script>");
      //]]>
    </script>
  {% endif %}
</body>
</html>
