{#
 # Channel index template
 # -------------------
 # A default template for channel sections to extend
 #}

{% extends "_layout" %}

{% set title = section %}
{% set body_class = section.handle|lower~" channel" %}
{% set per_page = 10 %}
{% set defaultParams = { 'section': section.handle, 'limit': per_page } %}
{#
 # Override params in sub-templates to change criteria for selecting entries
 # to appear. Otherwise the defaults are used (ie. 10 items from the section in question):
 #}
{% set params = params is defined ? defaultParams|merge(params) : defaultParams %}

{% block content %}
  <h2>{{ section }}</h2>

  {% block sidebar %}{% endblock %}

  {% paginate craft.entries(params) as entries %}
  {% if entries is empty %}
  <p>Nothing posted here yet...</p>
  {% else %}
  {% for entry in entries %}

  {# Individual entry: #}
  {% block entry %}
  <article>
    <h3><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
    <p>Posted on {{ entry.postDate.format('F d, Y') }}</p>
    {{ entry.body.getPage(1) }}
    {% if entry.body.getTotalPages() > 1 %}
    <p><a href="{{ entry.url }}">Continue reading</a></p>
    {% endif %}
  </article>

  {% endblock %}
  {% endfor %}

  {# Pagination: #}
  {% include '_partials/pagination' %}

  {% endif %}
  {% endpaginate %}
{% endblock %}
