{% extends '_layout' %}

{# How many results to display per page? #}
{% set perPage = 10 %}

{% set query = craft.request.param('q') %}
{% if query is empty %}
{% set title = 'Search' %}
{% else %}
{% set title = 'Search results: “' ~ query ~ '”' %}
{% endif %}

{% block search %}
<div class="container">
  <h2>{{ title }}</h2>
  {% include '_partials/search' %}
</div>

<hr />

{% endblock %}

{% block content %}
<div>
  {% if query is not empty %}
  {% paginate craft.entries.hiddenFromSearch(':empty:').search(query).limit(perPage) as results %}

  <p><strong>{{ paginate.total }}</strong> results for <strong>&ldquo;{{ query }}&rdquo;</strong>
      {%- if paginate.totalPages > 1 %} ({{ paginate.totalPages }} pages){% endif %}:
  </p>

  {# Output search results: #}
  {% if results is empty %}
  <p>No entries found&hellip;</p>
  {% else %}
  {% for result in results %}
  <div>
      <h3><a href="{{ result.url }}">{{ result.title }}</a></h3>
  </div>
  {% endfor %}
  {% endif %}

  {# Pagination: #}
  {% include '_partials/pagination' %}
  {% endpaginate %}
  {% endif %}
</div>
{% endblock %}
